@page "/"

@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>
<div class="row">
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-currency-dollar" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Revenue</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Last month</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varStats?.Revenue.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-cart-fill" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Opportunities</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Last month</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varStats?.Opportunities.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-hand-thumbs-down-fill text-danger" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Average Deal Size</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Last month</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varStats?.AverageDealSize.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-hand-thumbs-up-fill text-success" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Win Rate</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Last month</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varStats?.Ratio.ToString("P")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@* Shane did this here  *@

@* <div class="row">
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-fingerprint" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Database ID</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varGetEmployeesWithDepartment?.Id.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-person-circle" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Employee Name</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varGetEmployeesWithDepartment?.Name</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-bank2" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Salary</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varGetEmployeesWithDepartment?.Salary.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-arrows-move" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Bonus</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varGetEmployeesWithDepartment?.Bonus.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> *@

  @* tommy did this***************************************************************************************** *@
<div class="row">
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-fingerprint" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Get Values Sales</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@* @varUspDashboardGetValuesSale?.ResultType *@</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-person-circle" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Summary Vehicle</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varSummaryVehicle?.fldVehicleCount.ToString() </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-bank2" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Salary</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varGetEmployeesWithDepartment?.Salary.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <div class="row">
                <div class="col-4">
                    <i class="bi-arrows-move" style="width: 64px; height: 64px; font-size: 48px"></i>
                </div>
                <div class="col-8">
                    <p class="h5 text-end pb-2" style="line-height: 1em;">
                        <span class="m-0 fw-bold">Bonus</span><br />
                        <span class="text-uppercase fw-bold" style="font-size: 12px;">Stored Procedure</span>
                    </p>
                    <p class="h4 text-end fw-bold">
                        <span class="my-2">@varGetEmployeesWithDepartment?.Bonus.ToString("C")</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <h2 class="fw-bold">Customer life time value</h2>
            @*             <DxChart Data="@varRevenueByCompany" T="ThrottleCoreCRM.Shared.Models.clsRevenueByCompany" Width="100%">
            <DxChartBarSeries Name="Company"
            T="ThrottleCoreCRM.Shared.Models.clsRevenueByCompany"
            TArgument="string"
            TValue="decimal"
            ArgumentField="pasi => pasi.Company"
            ValueField="pasi => pasi.Revenue"
            SummaryMethod="Enumerable.Sum" />
            <DxChartLegend Position="RelativePosition.Outside"
            HorizontalAlignment="HorizontalAlignment.Center"
            VerticalAlignment="VerticalEdge.Bottom" />


            <DxChartBarSeries Name="Company" T="ThrottleCoreCRM.Shared.Models.clsRevenueByCompany" TArgument="string" TValue="int"/>
            </DxChart> *@
            <RadzenChart Style="width: 100%">
                <RadzenColumnSeries TItem="ThrottleCoreCRM.Shared.Models.clsRevenueByCompany" Data="@varRevenueByCompany" ValueProperty="Revenue" CategoryProperty="Company"></RadzenColumnSeries>
            </RadzenChart>
        </div>
    </div>
    <div class="col-12">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <h2 class="fw-bold">Revenue</h2>
            <RadzenChart Style="width: 100%">
                <RadzenAreaSeries TItem="ThrottleCoreCRM.Shared.Models.clsRevenueByMonth" Data="@varRevenueByMonth" ValueProperty="Revenue" CategoryProperty="Month"></RadzenAreaSeries>
            </RadzenChart>
        </div>
    </div>
    <div class="col-12">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <h2 class="fw-bold">Customer life time Value</h2>
            <RadzenChart Style="width: 100%">
                <RadzenBarSeries TItem="ThrottleCoreCRM.Shared.Models.clsRevenueByEmployee" Data="@varRevenueByEmployee" ValueProperty="Revenue" CategoryProperty="Employee"></RadzenBarSeries>
            </RadzenChart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <h2 class="fw-bold">Text</h2>
            <RadzenDataGrid TItem="ThrottleCoreCRM.Server.Models.Throttle_Core_WebSite.Opportunity" Data="@getOpportunitiesResult" AllowSorting="true" AllowPaging="true" LoadData="@getOpportunitiesResultLoadData" Count="@getOpportunitiesResultCount">
                <Columns>
                    <RadzenDataGridColumn TItem="ThrottleCoreCRM.Server.Models.Throttle_Core_WebSite.Opportunity" Title="Contact" SortProperty="Contact.FirstName">
                        <Template>
                            <RadzenLabel Text="@context.Contact.FirstName" />
                            <RadzenLabel Text="@context.Contact.LastName" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ThrottleCoreCRM.Server.Models.Throttle_Core_WebSite.Opportunity" Title="Amount" Property="Amount">
                        <Template>
                            <RadzenLabel Text="@context.Amount.ToString("C")" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ThrottleCoreCRM.Server.Models.Throttle_Core_WebSite.Opportunity" Title="Status" Property="OpportunityStatus.Name" />
                    <RadzenDataGridColumn TItem="ThrottleCoreCRM.Server.Models.Throttle_Core_WebSite.Opportunity" Title="CloseDate" Property="CloseDate" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
    <div class="col-12">
        <div class="card p-3 mx-2 my-3 shadow-sm">
            <h2 class="fw-bold">Active Tasks</h2>
            <RadzenDataGrid TItem="ThrottleCoreCRM.Server.Models.Throttle_Core_WebSite.Task" Data="@getTasksResult" AllowSorting="true" AllowPaging="true" LoadData="@getTasksResultLoadData" Count="@getTasksResultCount">
                <Columns>
                   @*  <RadzenDataGridColumn TItem="Server.Models.Throttle_Core_WebSite.Task" Title="Employee" SortProperty="Opportunity.User.FirstName">
                        <Template>
                            <RadzenImage Path="@context.Opportunity.UserId.Picture" style="width:30px;height:30px;border-radius:15px;" />
                            <RadzenLabel Text="@context.Opportunity.User.FirstName" />
                            <RadzenLabel Text="@context.Opportunity.User.LastName" />
                        </Template>
                    </RadzenDataGridColumn> *@
                    <RadzenDataGridColumn TItem="Server.Models.Throttle_Core_WebSite.Task" Title="Title" Property="Title" SortProperty="Opportunity.Name">
                        <Template>
                            <RadzenLabel Text="@context.Opportunity.Name" style="display: block" />
                            <RadzenLabel Text="@context.Opportunity.Contact.FirstName" />
                            <RadzenLabel Text="@context.Opportunity.Contact.LastName" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Server.Models.Throttle_Core_WebSite.Task" Title="DueDate" Property="DueDate" />
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
</div>

